.page-header {
    height: 5rem;
    line-height: 5rem;
    background: #e6f4ff !important;
    z-index: 10; /* 保证在上面 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    display: flex;
    justify-content: space-between;
}


html, body, #root {
  height: 100%;
  margin: 0;
}


.page-layout{
    height: 100vh; /* 视口高度 */
    display: flex;
    flex-direction: column;
}

.page-content {
  flex: 1;
  display: flex;
  overflow: hidden; /* 防止溢出滚动 */
}

.page-content-sider{
    background: #ffffff !important;
}

.darkmode{
    /* background-color: #DDDDDD */
}

.btn-group > *{
  margin-right: 15px; /* 给所有按钮右边加间距 */
}

.title{
    font-family: 'Microsoft YaHei';
    font-size: 1.7rem;
    font-weight: 600;
}